/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lato&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Lato", sans-serif;
  --heading-font: "Imperial Script", cursive;
  --primary-color: #99ceff;
  --primary-alt-color: #bde0fe;
  --secondary-color: #ffafcc;
  --secondary-alt-color: #ffc8dd;
  --alt-color: #cdb4db;
}



/* Cake Builder Page */
.selections {
  border: 1px solid black;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.selections:hover {
  border: 1px solid blue;
}

/* .selections p {
  border: 1px solid blue;
} */

.selections img {
  width: 150px;
  height: 150px;
  /* border: 1px solid red; */
  margin-top: 1rem;
}

/* Medium screen sizes - 768px up*/
@media screen and (min-width: 768px) {
  .selections img {
    width: 90px;
    height: 90px;
  }
}

/* Large screen sizes - 992px up*/
@media screen and (min-width: 992px) {
  .selections img {
    width: 165px;
    height: 165px;
  }
}












body {
  font-family: var(--primary-font);
}

h1,
h2 {
  font-family: var(--heading-font);
}

nav,
footer {
  background-color: var(--primary-alt-color);
}

nav {
  box-shadow: 0 2px 4px #3a3a3a;
}

.logo {
  height: 40px;
}

footer {
  box-shadow: 0 -2px 4px #3a3a3a;
}

.btn-signup {
  background-color: var(--secondary-color);
  border-radius: 0.8rem;
  border: 2px outset black;
}

.btn-signup:hover {
  background-color: none;
  border: 2px outset black;
  color: var(--secondary-color);
}

.slot-btn {
  margin: 1rem 0.5rem;
  padding: 0.4rem 0.7rem;
  border-radius: 0.8rem;
  background-color: var(--primary-alt-color);
}

.slot-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.slot-btn.selected {
  background-color: var(--secondary-color);

}

.modal-btn {
  border: ridge 2px var(--secondary-color);
  border-radius: 1rem;
  background-color: var(--primary-alt-color);
}


#social-icons i {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--secondary-color);
  color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0rem 0.4rem;
}


/* Media Queries*/

/* X-small screen sizes - up to 380px*/
@media screen and (max-width: 380px) {

  footer address,
  footer p {
    font-size: 0.9rem;
  }
}